fastapi
uvicorn[standard]
numpy
soundfile
torch
transformers
pydantic
reportlab
streamlit
requests
pydeck
pandas
qrcode
langchain
langchain-ollama
langgraph
langchain-community
faiss-cpu
sentence-transformers
langdetect
streamlit-realtime-audio-recorder
pydub
winsound
huggingface_hub
scipy
